*{
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}
h3{
  font-size: 16px;
  font-weight: 600;
}

.user{
  width: 30px;
  margin-right: 0;
}

.top{
  display: flex;
  align-items:center;
}
p{
  margin: 0 -5px;
}

.reviewbox{
  max-width: 100vh;
  justify-content: center;
  margin:0 0;
}
