*{
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}
h3{
  font-size: 16px;
  font-weight: 600;
}

.user{
  width: 30px;
  margin-right: 0;
}

.top{
  display: flex;
  align-items:center;
  max-width: 100vh;
}
.date{
  font-size: 14px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 10vh;
}
.rating{
  font-size: 16px;
  text-align: left;
  margin-top: -10px;
}
p{
  margin: 0 -5px;
}

.content-text{
  margin: 0;
  max-width: 80vh;
  font-size: 14px;
}

.reviewbox{
  max-width: 100vh;
  justify-content: center;
  margin:0 0;
}
